ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;

  /* background-color: #000000; */
  background: linear-gradient(to right, rgb(138, 5, 29), rgb(186,16,121));
}
.lilly_logo {
  font-family: "DINPro";
}

li {
  /* padding: 15px; */
  float: left;
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

a {
  color: white;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  font-size: 22px;
  /* padding: 15px; */
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
